<div *ngIf="!isDialogOpened; else showDialog">
  <div>
    <h1 id="tableLabel">Products List</h1>
    <p>See the products list, which are added to the shop.</p>
    <button class="btn btn-secondary m-2" type="button" (click)="toggleProductDialog()">Add New Product</button>
  </div>

  <p *ngIf="!products; else showTable"><em>Loading...</em></p>

  <ng-template #showTable>
    <table class='table table-striped' aria-labelledby="tableLabel">
      <thead>
      <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Product Category</th>
        <th>Product Size</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.productId }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.size }}</td>
        <td>{{ product.stock }}</td>
        <td>{{ product.price | currency }}</td>
        <td>Delete</td>
      </tr>
      </tbody>
    </table>
  </ng-template>
</div>

<ng-template #showDialog>
  <h1>New Product</h1>

  <p>Use this form to add new products to the shop.</p>

  <form [formGroup]="newProductForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="name" class="form-label">Product Name</label>
      <input type="text" formControlName="name" class="form-control" id="name" placeholder="Awesome Product" required>
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">Product Category</label>
      <select class="form-select" formControlName="category" id="category" aria-label="Select Product Size" required>
        <option value="Goods" selected>Goods</option>
        <option value="Food">Food</option>
        <option value="Materials">Materials</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="size" class="form-label">Product Size</label>
      <select class="form-select" formControlName="size" id="size" aria-label="Select Product Size" required>
        <option value="Small" selected>Small</option>
        <option value="Medium">Medium</option>
        <option value="Big">Big</option>
      </select>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">$</span>
      <input type="number" placeholder="Price" class="form-control"
             formControlName="price" aria-label="Product price" id="price"
      >
    </div>
    <div class="mb-3">
      <label for="quantity" class="form-label">Product Quantity</label>
      <input type="number" formControlName="quantity" class="form-control" id="quantity" placeholder="10">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" formControlName="description" id="description" rows="3"></textarea>
    </div>
    <button class="btn btn-primary m-2" type="submit">Save</button>
    <button class="btn btn-secondary m-2" type="button" (click)="toggleProductDialog()">Cancel</button>
  </form>
</ng-template>
